:root {
    --primary-color: #eee;
    --secondary-color: #222;
}

.contentItem {
    width: 20vw;
    height: 5vw;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 20vw;
    cursor: pointer;
    transition: all 400ms ease-in-out;
    font-size: 2rem;
    color: var(--secondary-color);
}

.contentItem[data-active="true"] {
    height: 5.5vw;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

h1 {
    margin-top: 0;
}

.contentWrapper {
    padding: 0 2rem 2rem;
}

.card {
    width: 80vw;
    margin: 2rem auto;
    overflow: hidden;
    padding: 2rem 0;
    background-color: #fff;
    box-shadow: 0 0 1rem #333;
}

.app {
    background-color: var(--primary-color);
    width: 100vw;
}

.showAllWrapper {
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
    flex-wrap: wrap;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}